.error-container{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.error-header{
    padding: 1rem;
    color: brown;
    font-size: 3rem;
}
.error-message{
    padding: 10px;
    color: rgb(116, 187, 187);
    font-size: 1.5rem;
}